btn_close RCData "btn_close.png"
load_bk RCData "load_bk.png"
main_bk RCData "main_bk.png"
main_bk_right RCData "main_bk_right.png"
btn_install RCData "btn_install.png"
img_check RCData "img_check.png"
img_check2 RCData "img_check2.png"
btn_opend RCData "btn_opend.png"
btn_openf RCData "btn_openf.png"
progress_bk RCData "progress_bk.png"
progress_force RCData "progress_force.png"
progress_fire RCData "progress_fire.png"
thunder RCData "thunder.png"
btn_baidu RCData "btn_baidu.png"
img_installbk RCData "img_installbk.png"
img_installicon RCData "img_installicon.png"
btn_know RCData "btn_know.png"
minimize_btn RCData "minimize.png"
close_btn RCData "close.png"
ADV_bk_left RCData "ADV_bk_left.png"
ADV_bk_right RCData "ADV_bk_right.png"
ADV_close RCData "ADV_close.png"
main_bk2 RCData "main_bk2.png"
main_bk3 RCData "main_bk3.png"
success_icon RCData "success_icon.png"
ADV_img RCData "ADV_Img.gif"
top_bk RCData "top_bk.jpg"
